<div class="nav-bar__container">

  <div class="nav-bar_left">
    <app-nav-bar-logo></app-nav-bar-logo>

    <div class="nav-bar_options">
      <ul>
        <li> LANÇAMENTOS </li>
        <li> MASCULINO </li>
        <li> FEMININO </li>
        <li> INFANTIL </li>
        <li> FUTEBOL </li>
        <li> LIFESTYLE </li>
        <li> OUTLET </li>
      </ul>
    </div>
  </div>

  <div class="nav-bar_right">
    <app-nav-bar-search> </app-nav-bar-search>
    <app-nav-bar-icons> </app-nav-bar-icons>
  </div>
</div>
